{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ recipe.title }}</h1>
<p>{{ recipe.description }}</p>

{% if recipe.dependencies.recipes %}
    <h2>Required Recipes</h2>

    <p><em>The following recipes are required:</em></p>
    <ul>
        {% for recipe in recipe.dependencies.recipes %}
            <li><a href="{{ path('app_recipe_show', {name: recipe}) }}">{{ recipe }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if recipe.dependencies.js %}
    <h2>JS Dependencies</h2>

    <p><em>Symfony AssetMapper</em></p>
    <pre><code>bin/console importmap:require {{ recipe.dependencies.js|join(' ') }}</code></pre>

    <p><em>NPM</em></p>
    <pre><code>npm add {{ recipe.dependencies.js|join(' ') }}</code></pre>
{% endif %}

{% if recipe.dependencies.node %}
    <h2>Node.js Dependencies</h2>
    <p>This recipe requires the following dependencies be installed with Node.js.</p>

    <pre><code>npm add {{ recipe.dependencies.node|join(' ') }}</code></pre>
{% endif %}

{% if recipe.dependencies.php %}
    <h2>PHP Dependencies</h2>
    <pre><code>composer require {{ recipe.dependencies.php|join(' ') }}</code></pre>
{% endif %}

{% if block('instructions', recipe.template) is defined %}
    <h2>Instructions</h2>

    {{ block('instructions', recipe.template) }}
{% endif %}

{% if recipe.files %}
    <h2>Files</h2>

    {% for file in recipe.files %}
        <p><em>{{ file.path }}</em></p>
        <pre><code>{{ file.source }}</code></pre>
    {% endfor %}
{% endif %}

<h2>Demo</h2>
<div>
    {% if block('demo_wrapper', recipe.template) is defined %}
        {{ block('demo_wrapper', recipe.template) }}
    {% else %}
        {{ block('demo', recipe.template) }}
    {% endif %}
</div>

<h2>Demo Source</h2>
<pre><code>{{ recipe.demo }}</code></pre>

{% for file in recipe.demoFiles %}
    <p><em>{{ file.path }}</em></p>
    <pre><code>{{ file.source }}</code></pre>
{% endfor %}

{% if recipe.references %}
    <h2>References</h2>
    <ul>
        {% for name,url in recipe.references %}
            <li><a href="{{ url }}">{{ name matches '/^\\d+$/' ? url : name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
